---
page_title: About
tags: pages

order: 4

title: "We are a creative agency with talented people."
link: {
  url: "/contact",
  text: "Contact us"
}
images: [
  { image: "Image 1.png", alt: "Image 1" },
  { image: "Image 2.png", alt: "Image 2" },
  { image: "Image 1_1.png", alt: "Image 1_1" },
  { image: "Image 2_1.png", alt: "Image 2_1" }
]
---

{% import "components/general.njk" as components %}

{% extends "layouts/block.njk" %}

{% block bottom %}
    <section>
        <div class="container">
            <h2>Meet the team</h1>
            <div class="team">
                {% for person in site.team %}
                    {{ components.article(person) }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock bottom %}