---
page_title: Blog
tags: pages

title: Interested in what we have to say?

articles: [{
    title: Why 11ty rocks!,
    description: "Eleventy is our favourite Static Site Generator, we'll tell you why.",
    image: {
        img: Rectangle 2_5.png,
        alt: Rectangle 2_5,
    },
    link: /blog/eleventy
    },


    {
    title: Notepads are cool,
    description: "We skipped Notion and other apps, we're going back to basics.",
    image: {
        img: Rectangle 2_6.png,
        alt: Rectangle 2_6,
    },
    link: /blog/notepads
    },


    {
    title: You designed with us,
    description: "We held a User Experience workshop, and it was amazing.",
    image: {
        img: Rectangle 2_7.png,
        alt: Rectangle 2_7,
    },
    link: /blog/design
    },


    {
    title: Semantic HTML,
    description: "Explore the significance of semantic HTML in creating well-structured and accessible web content",
    image: {
        img: Rectangle 2_8.png,
        alt: Rectangle 2_8,
    },
    link: /blog/html
    },


    {
    title: Efficient Workflow with CSS Preprocessors,
    description: "Demystify CSS preprocessors such as Less and Sass, unveiling their role in streamlining stylesheet management.",
    image: {
        img: Rectangle 2_9.png,
        alt: Rectangle 2_9,
    },
    link: "#"
    },
    ]
---

{% extends "layouts/grid.njk" %}