---
page_title: Blog
tags: pages
order: 2

title: Interested in what we have to say?

articles: [{
    title: Why 11ty rocks!,
    description: "Eleventy is our favourite Static Site Generator, we'll tell you why.",
    image: {
        img: Rectangle 2_5.png,
        alt: Rectangle 2_5,
    },
    link: /blog/eleventy
    },


    {
    title: Notepads are cool,
    description: "We skipped Notion and other apps, we're going back to basics.",
    image: {
        img: Rectangle 2_6.png,
        alt: Rectangle 2_6,
    },
    link: /blog/notepads
    },


    {
    title: You designed with us,
    description: "We held a User Experience workshop, and it was amazing.",
    image: {
        img: Rectangle 2_7.png,
        alt: Rectangle 2_7,
    },
    link: /blog/design
    },


    {
    title: Semantic HTML,
    description: "Explore the significance of semantic HTML in creating well-structured and accessible web content",
    image: {
        img: Rectangle 2_8.png,
        alt: Rectangle 2_8,
    },
    link: /blog/html
    },


    {
    title: Efficient Workflow with CSS Preprocessors,
    description: "Demystify CSS preprocessors such as Less and Sass, unveiling their role in streamlining stylesheet management.",
    image: {
        img: Rectangle 2_9.png,
        alt: Rectangle 2_9,
    },
    link:
    },


    {
    title: Accessibility in Design,
    description: "Address the principles of accessible design, emphasizing the need for inclusivity in digital products.",
    image: {
        img: Rectangle 2_10.png,
        alt: Rectangle 2_10,
    },
    link:
    },


    {
    title: Web Design Trends 2024,
    description: "Forecast upcoming trends in web design, considering aesthetics, functionality, and user interaction. ",
    image: {
        img: Rectangle 2_11.png,
        alt: Rectangle 2_11,
    },
    link:
    },


    {
    title: Typography Mastery,
    description: "Investigate the art of typography in web design.",
    image: {
        img: Rectangle 2_12.png,
        alt: Rectangle 2_12,
    },
    link:
    },


    {
    title: The Art of CSS Animation,
    description: "Explore the world of CSS animation, illustrating how subtle motion can elevate user engagement.",
    image: {
        img: Rectangle 2_13.png,
        alt: Rectangle 2_13,
    },
    link:
    },


    {
    title: Design Thinking in Web Development,
    description: "Introduce the concept of design thinking as a problem-solving methodology.",
    image: {
        img: Rectangle 2_14.png,
        alt: Rectangle 2_14,
    },
    link:
    },


    {
    title: The Non-Designer's Design Book,
    description: "For a deeper understanding of design principles, this is a must read.",
    image: {
        img: Rectangle 2_15.png,
        alt: Rectangle 2_15,
    },
    link:
    },
    ]
---

{% extends "layouts/grid.njk" %}

{% block articles %}
    <section class="articles">
        {% for post in collections.blog | sortByOrder %}
            {{components.article(post)}}
        {% endfor %}
    </section>
{% endblock articles %}