---
page_title: Blog
tags: pages

order: 2

title: Interested in what we have to say?
---

{% extends "layouts/grid.njk" %}

{% block articles %}
    <section class="articles">
        <div class="container">
            <div class="articles">
                {% for post in collections.blog | sortByOrder %}
                    {{components.article(post)}}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock articles %}