---
page_title: Contact
tags: pages

order: 5

title: Get in touch, we’ll get back to you.
image: Rectangle 2_29.png
---

{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
<main>
    <section class="hero">
            {{ components.hero(title) }}
    </section>

    <section class="contact">
        <div class="container">
            <ul>
                <li>
                    <div class="contact__info">
                        <p>
                            Korenmarkt 12, 9000 Ghent, Belgium
                        </p>
                        <p>
                            Adress
                        </p>
                    </div>
                    <hr>
                </li>
                <li>
                    <div class="contact__info">
                        <p>
                            info@clean.be
                        </p>
                        <p>
                            Email
                        </p>
                    </div>
                    <hr>
                </li>
                <li>
                    <div class="contact__info">
                        <p>
                            +32 09 45 78 12
                        </p>
                        <p>
                            Phone
                        </p>
                    </div>
                    <hr>
                </li>
            </ul>
            <button class="button">
                Send us an email
            </button>
            <figure>
                <img src="/assets/images/{{ image }}" alt="Image">
            </figure>
        </div>
    </section>

</main>
{% endblock content %}