---
page_title: Contact
tags: pages

order: 5

title: Get in touch, we’ll get back to you.
image: Rectangle 2_29.png
---

{% import "components/general.njk" as components %}
{% set contact = site.contact %}

{% extends "layouts/default.njk" %}

{% block content %}
<main>
    <section class="hero">
            {{ components.hero(title) }}
    </section>

    <section class="contact">
        <div class="container">
            {{ components.contactList(contact) }}
            <button class="button">
                Send us an email
            </button>
            <figure>
                <img src="/assets/images/{{ image }}" alt="Image">
            </figure>
        </div>
    </section>

</main>
{% endblock content %}