---
page_title: Home
tags: pages

order: 1

title: We’re Clean, but we get our hands dirty.
link:
    url: "/projects"
    text: "Our projects"
images: [
    { image: "Image 1_2.png", alt: "Image 1" },
    { image: "Image 2_2.png", alt: "Image 2" }
]
---

{% extends "layouts/block.njk" %}

{% block bottom %}
    <section class="home-projects">
        <div class="container">
            <h2>Our projects</h2>
            {% for project in collections.projects %}
                {% if project.data.show_homepage %}
                <a href="{{ project.data.link }}" class="project">
                    <div class="project__left">
                        <ul>
                            <li>
                                <p>
                                    {{ project.data.projectDate }}
                                </p>
                            </li>
                            <li>
                                <p>
                                    {{ project.data.title }}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="project__right">
                        <p>
                            {{ project.data.description }}
                        </p>
                    </div>
                </a>
                <hr>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="blog-spotlight">
        <div class="container">
            <h2>Read our latest news</h2>
            <div class="articles">
                {% for post in collections.blog | sortByOrder %}
                    {% if post.data.show_homepage %}
                        {{components.article(post.data, post.data.link)}}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock bottom %}