---
page_title: Home
tags: pages

title: We’re Clean, but we get our hands dirty.
link:
    url: "/projects"
    text: "Our projects"
images: [
    { image: "Image 1_2.png", alt: "Image 1" },
    { image: "Image 2_2.png", alt: "Image 2" }
]
---

{% extends "layouts/block.njk" %}