---
page_title: Projects
tags: pages

order: 3

title: We make digital experiences.
---

{% extends "layouts/grid.njk" %}

{% block articles %}
    <section class="articles">
        <div class="container">
            {% for post in collections.projects | sortByOrder %}
                {{components.article(post)}}
            {% endfor %}
        </div>
    </section>
{% endblock articles %}