{% macro hero(title, link) %}
    <div class="container">
        <div class="hero__title">
            <h1>{{title}}</h1>
        </div>
        

        {% if link %}
        <div class="button">
            <a href="{{link.url}}">{{link.text}}</a>
        </div>
        {% endif %}
    </div>
    <hr>
{% endmacro %}

{% macro spotlight(images) %}
    <div class="container">{% for image in images %}
        <figure>
            <img src="/assets/images/{{ image.image }}" alt="{{ image.alt }}">
        </figure>{% endfor %}
    </div>
{% endmacro %}

{% macro article(post) %}
    <article class="article-small">
        <a href="{{post.data.link}}">
            <figure>
                <img src="/assets/images/{{post.data.image.img}}" alt="{{post.data.image.alt}}">
            </figure>
            <h3>{{post.data.title}}</h3>
            <p>
                {{post.data.description}}
            </p>
        </a>
    </article>
{% endmacro %}