{% macro hero(title, link) %}
    <div class="container">
        <div class="hero__title">
            <h1>{{title}}</h1>
        </div>
        

        {% if link %}
        <div class="button">
            <a href="{{link.url}}">{{link.text}}</a>
        </div>
        {% endif %}
    </div>
    <hr>
{% endmacro %}

{% macro spotlight(images) %}
    <div class="container">
    {% for image in images %}
        <figure>
            <img src="/assets/images/{{ image.image }}" alt="{{ image.alt }}">
        </figure>
    {% endfor %}
    </div>
{% endmacro %}

{% macro article(post, link) %}
    {% if link %}
    <article class="article-small">
        <a href="{{post.link}}">
            <figure>
                <img src="/assets/images/{{post.image.img}}" alt="{{post.image.alt}}">
            </figure>
            <h3>{{post.title}}</h3>
            <p>
                {{post.description}}
            </p>
        </a>
    </article>
    {% else %}
    <article class="article-small">
        <figure>
            <img src="/assets/images/{{post.image.img}}" alt="{{post.image.alt}}">
        </figure>
        <h3>{{post.name}}</h3>
        <p>
            {{post.position}}
        </p>
    </article>
    {% endif %}
{% endmacro %}