{% macro hero(title, link) %}
    <div class="container">
        <h1>{{title}}</h1>

        {% if link %}
        <div class="hero__btn">
            <a href="{{link.url}}">{{link.text}}</a>
        </div>{% endif %}
    </div>
{% endmacro %}

{% macro image(images) %}
    <div class="container">{% for image in images %}
        <figure>
            <img src="/assets/images/{{ image.image }}" alt="{{ image.alt }}">
        </figure>{% endfor %}
    </div>
{% endmacro %}

{% macro article(articles) %}
    <div class="container">
        {% for article in articles %}
            <article>
                <a href="{{article.link}}">
                    <figure>
                        <img src="/assets/images/{{article.image.img}}" alt="{{article.image.alt}}">
                    </figure>
                    <h2>{{article.title}}</h2>
                    <p>
                    {{article.description}}
                    </p>
                </a>
            </article>
        {% endfor %}
    </div>
{% endmacro %}