<footer>
        <nav>
            <div class="logo">
                <a href="/">Clean</a>
            </div>
            <ul>{% for page in collections.pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.data.page_title }}</a>
                </li>{% endfor %}
            </ul>
            <ul>
                <li>
                    <a href="/policies/cookies">Cookie Policy</a>
                </li>
                <li>
                    <a href="/policies/privacy">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </footer>