<footer>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">Clean</a>
            </div>
            <ul>
            {% for page in collections.pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.data.page_title }}</a>
                </li>
            {% endfor %}
            </ul>
            <ul>
            {% for page in collections.policies %}
                <li>
                    <a href="{{ page.url }}">{{ page.data.page_title }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
</footer>