{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        {{ components.hero(title, link) }}
        {{ components.image(images)}}
    </main>
{% endblock content %}