{% import "components/hero.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section>
            {{ components.hero(title, link) }}
        </section>
        <section>
            {% for image in images %}
                <div>
                    <img src="assets/images/{{ image.image }}" alt="{{ image.alt }}">
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock content %}