{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="hero">
        {{ components.hero(title, link) }}
        </section>
        <section class="spotlight-img">
            {{ components.image(images)}}
        </section>

        {% block bottom %}
        {% endblock bottom %}
    </main>
{% endblock content %}