{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="hero hero--detail">
            <div class="container">
                <h1>{{title}}</h1>

                <span>
                    <p>
                        {{ description }}
                    </p>
                </span>

                <div class="return-btn">
                    <a href="#" onclick="history.go(-1); return false;">
                        <img src="/assets/images/arrow-left.svg" alt="Arrow-left">
                        <p>
                            Go Back
                        </p>
                    </a>
                </div>
                <hr>
            </div>
        </section>

        {% if project %}
            <section class="feature-img">
                <div class="container">
                    <figure>
                        <img src="/assets/images/{{image.img}}" alt="{{image.alt}}">
                    </figure>
                </div>
            </section>
        {% endif %}

        <section class="detail-content">
            <div class="container">
                {{ content | safe }}
            </div>
        </section>
    </main>
{% endblock content %}