{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="detail-hero">
            <div class="container">
                <h1>{{title}}</h1>

                <span>{{ description }}</span>

                <div class="return-btn">
                    <a href="#" onclick="history.go(-1); return false;">Go Back</a>
                </div>
                <hr>
            </div>
        </section>

        {% if project %}
            <section>
                <figure>
                    <img src="/assets/images/{{image.img}}" alt="{{image.alt}}">
                </figure>
            </section>
        {% endif %}

        <section>
            <div class="container">
                {{ content | safe }}
            </div>
        </section>
    </main>
{% endblock content %}