{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="hero">
            {{ components.hero(title) }}
        </section>

        {% block articles %}
        {% endblock articles %}
    </main>
{% endblock content %}