{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="hero">
            {{ components.hero(title) }}
        </section>
        <section class="articles">
            {{components.article(collections.blog)}}
        </section>
    </main>
{% endblock content %}