{% import "components/general.njk" as components %}

{% extends "layouts/default.njk" %}

{% block content %}
    <main>
        <section class="hero">
            {{ components.hero(title) }}
        </section>

        <section class="articles-list">
        <div class="container">
            <div class="articles">
                {% for post in collections[collectionName] | sortByOrder %}
                    {{components.article(post.data, post.data.link)}}
                {% endfor %}
            </div>
        </div>
    </section>
    </main>
{% endblock content %}